$primary-color: hsl(0, 0%, 98%);
$secondary-color: hsl(200, 15%, 8%);
$tertiary-color: hsl(0, 0%, 52%);

[data-theme="dark"] {
  $primary-color: hsl(207, 26%, 17%);
  $secondary-color: hsl(0, 0%, 100%);
  $tertiary-color: hsl(209, 23%, 22%);
}
